.container
	.nicebox-row
		- for (i=0; i < 4; i++)
			.nicebox
				a(href='#')
					figure
						img(src='https://unsplash.it/400/400?image=1080', alt='image')
						figcaption
							h3 Lorem
							span Floor 3 | sector A33
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ipsa et veniam ipsum quam expedita, dicta. Consectetur perferendis nesciunt unde consectetur adipisicing elit. Quaerat, ipsa et veniam ipsum quam expedita, dicta. Consectetur perferendis.
